* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  outline: none;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway.ttf") format("woff");
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: #354561;
}
.portfolio-page {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.portfolio__container {
  margin: 35px 0 0 0;
  width: 90%;
  max-width: 800px;
}
.portfolio__card {
  margin: 0 0 35px 0;
}
.card {
  padding: 25px;
  width: calc(100% - 50px);
  height: 280px;
  -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__img {
  width: 330px;
  height: 280px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card__img img {
  width: 100%;
}
.card__img-link {
  width: 330px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card__img-link a {
  padding: 8px 12px;
  border-radius: 24px;
  border: 1px solid #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card__img-link a:hover {
  background-color: #fff;
  color: #000000;
}
.card__img:hover .card__img-link {
  opacity: 1;
  pointer-events: all;
}
.card__content {
  margin: 0 0 0 25px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card__title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.card__title-divider {
  margin: 15px 0 0 0;
  width: 100px;
  height: 1px;
  background-color: #fff;
}
.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.card__description-part {
  margin: 0 35px 0 0;
}
.card__sub-title p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.card__text {
  margin: 20px 0 0 0;
}
.card__text li {
  margin: 0 0 8px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.card__btns button {
  width: 175px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #3bb8ab;
  border-radius: 48px;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card__btns button:hover {
  background-color: #fff;
  color: #354561;
}
@media (max-width: 900px) {
  .portfolio__container {
    margin: 20px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .card {
    padding: 0 15px 15px 15px;
    width: 280px;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card__img {
    width: 310px;
    height: 330px;
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  .card__img img {
    width: 100%;
  }
  .card__content {
    margin: 25px 0 0 0;
    width: 100%;
    height: unset;
  }
  .card__description {
    margin: 15px 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .card__sub-title p {
    text-align: center;
    font-size: 16px;
  }
  .card__text li {
    text-align: center;
    font-size: 12px;
  }
  .card__btns {
    margin: 15px 0 0 0;
  }
  .card__btns button {
    width: 100%;
  }
}
@media (max-width: 734px) {
  .portfolio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
